openapi: 3.1.0
info:
  title: AKIS GitHub App API
  version: 1.0.0
  description: |
    Server-side API for GitHub App authentication, installation management, and status checks.
    
    **Security:** All endpoints are server-side only. No tokens are exposed to the client.
    
    **Authentication:** Session-based (HTTPOnly cookie with session_id).
    
  contact:
    name: AKIS Platform Team
    email: support@akis.dev

servers:
  - url: https://api.akis.dev
    description: Production
  - url: http://localhost:3000
    description: Development

tags:
  - name: Installation
    description: GitHub App installation management
  - name: OAuth
    description: OAuth flow endpoints (dev mode only)
  - name: Webhooks
    description: GitHub App webhook handlers

security:
  - SessionCookie: []

paths:
  /api/github/app/status:
    get:
      summary: Get GitHub App installation status
      description: |
        Returns installation status, permissions, and actionable CTAs.
        Used by UI to show:
        - Installation status (installed/not installed)
        - Permission gaps (required vs actual)
        - Correct "Install to more repos" URL
        - Repository coverage
      tags:
        - Installation
      parameters:
        - name: installation_id
          in: query
          description: Override installation ID (optional, defaults to user's installation)
          schema:
            type: integer
      responses:
        '200':
          description: Installation status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallationStatus'
        '401':
          description: Unauthorized (no session)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/github/app/install-link:
    get:
      summary: Get GitHub App installation URL
      description: |
        Generates a personalized installation URL for the current user.
        Intelligently routes to:
        - Existing installation settings (if installed)
        - New installation page (if not installed)
        - Organization vs User installation based on account type
      tags:
        - Installation
      responses:
        '200':
          description: Installation URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  install_url:
                    type: string
                    format: uri
                    example: https://github.com/apps/akis-scribe/installations/new
                  is_installed:
                    type: boolean
                  installation_id:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/integrations/github/connect:
    post:
      summary: Initiate GitHub OAuth flow (dev mode only)
      description: |
        **Dev Mode Only** (requires ALLOW_OAUTH_FALLBACK=true)
        
        Generates OAuth authorization URL and redirects user to GitHub.
        Production should use GitHub App installation instead.
      tags:
        - OAuth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid
              required:
                - user_id
      responses:
        '200':
          description: OAuth URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth_url:
                    type: string
                    format: uri
                    example: https://github.com/login/oauth/authorize?client_id=...
        '403':
          description: OAuth disabled (production mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                example:
                  error: OAuth fallback disabled in production

  /api/integrations/github/callback:
    get:
      summary: OAuth callback handler
      description: |
        Receives OAuth authorization code from GitHub and exchanges it for an access token.
        Stores token server-side in session (HTTPOnly cookie).
      tags:
        - OAuth
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: OAuth authorization code from GitHub
          schema:
            type: string
        - name: state
          in: query
          description: CSRF protection state parameter
          schema:
            type: string
      responses:
        '302':
          description: Redirect to dashboard with session cookie
          headers:
            Set-Cookie:
              schema:
                type: string
                example: session_id=abc123; HttpOnly; Secure; SameSite=Lax; Path=/
            Location:
              schema:
                type: string
                example: /dashboard
        '400':
          description: Invalid code or state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/integrations/github/disconnect:
    post:
      summary: Disconnect GitHub integration
      description: |
        Revokes OAuth token (if applicable) and clears session.
        Does NOT uninstall GitHub App (user must do that in GitHub settings).
      tags:
        - OAuth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  format: uuid
              required:
                - user_id
      responses:
        '200':
          description: Integration disconnected
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/github/app/webhooks:
    post:
      summary: GitHub App webhook receiver
      description: |
        Receives webhook events from GitHub App:
        - installation.created
        - installation.deleted
        - installation.suspend
        - installation.unsuspend
        - installation_repositories.added
        - installation_repositories.removed
        
        **Security:** Validates HMAC signature using GITHUB_WEBHOOK_SECRET.
      tags:
        - Webhooks
      security:
        - WebhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/InstallationCreatedEvent'
                - $ref: '#/components/schemas/InstallationDeletedEvent'
                - $ref: '#/components/schemas/InstallationRepositoriesEvent'
      responses:
        '200':
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        '401':
          description: Invalid signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: session_id
      description: HTTPOnly session cookie
    
    WebhookSignature:
      type: apiKey
      in: header
      name: X-Hub-Signature-256
      description: HMAC-SHA256 signature of payload

  schemas:
    InstallationStatus:
      type: object
      properties:
        installed:
          type: boolean
          description: Whether GitHub App is installed
        app_slug:
          type: string
          example: akis-scribe
        installation_id:
          type: integer
          example: 12345678
        account:
          type: object
          properties:
            type:
              type: string
              enum: [User, Organization]
            login:
              type: string
              example: octocat
        html_url:
          type: string
          format: uri
          example: https://github.com/settings/installations/12345678
        repository_selection:
          type: string
          enum: [all, selected]
        repository_count:
          type: integer
          example: 5
        token_permissions:
          type: object
          additionalProperties:
            type: string
            enum: [read, write, admin]
          example:
            contents: write
            pull_requests: write
            metadata: read
        required_permissions:
          type: object
          additionalProperties:
            type: string
          example:
            contents: write
            pull_requests: write
            metadata: read
        missing:
          type: array
          description: List of missing permissions with desired level
          items:
            type: string
          example:
            - "contents:write (current: read)"
        error:
          type: string
          description: Error message if status check failed
      required:
        - installed
        - required_permissions
        - missing

    InstallationCreatedEvent:
      type: object
      properties:
        action:
          type: string
          enum: [created]
        installation:
          $ref: '#/components/schemas/Installation'
        sender:
          $ref: '#/components/schemas/User'

    InstallationDeletedEvent:
      type: object
      properties:
        action:
          type: string
          enum: [deleted, suspend, unsuspend]
        installation:
          $ref: '#/components/schemas/Installation'

    InstallationRepositoriesEvent:
      type: object
      properties:
        action:
          type: string
          enum: [added, removed]
        installation:
          $ref: '#/components/schemas/Installation'
        repositories_added:
          type: array
          items:
            $ref: '#/components/schemas/Repository'
        repositories_removed:
          type: array
          items:
            $ref: '#/components/schemas/Repository'

    Installation:
      type: object
      properties:
        id:
          type: integer
          description: GitHub installation ID
        account:
          $ref: '#/components/schemas/Account'
        repository_selection:
          type: string
          enum: [all, selected]
        permissions:
          type: object
          additionalProperties:
            type: string
        html_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Account:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        type:
          type: string
          enum: [User, Organization]

    Repository:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        private:
          type: boolean

    User:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
        code:
          type: string
          description: Machine-readable error code
        details:
          type: object
          description: Additional context
      required:
        - error

